*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* GENERIC */
body{
    background-color: rgb(248, 248, 248);
}

h1{
    display: inline-block;
    line-height: 62px;
    vertical-align: middle;
}

li{
    margin: 15px 0;
}

/* IDs */
#triang-entity{
    font-size: 25px;
}

#btn-task{
    color: white;
}

#btn-addsect{
    background-color: white;
    color: lightgrey;
}

/* CLASSES */
.logo{
    vertical-align: middle;
}

.logo-container{
    padding: 5px 15px;
    margin-bottom: 50px;
}

.btn-container{
    background-color: white;
    padding: 10px 50px;
}

.main-container{
    width: 80%;
    margin: 0 auto;
}

.bg-color{
    background-color: white;
}

.buttons{
    border: 1px solid lightgray;
    background-color: cornflowerblue;
    border-radius: 5px;
    padding: 5px 10px;
}

.list-titles{
    list-style-type: none;
}

.bullets-position{

    margin-left: px;
    list-style-type: none;
}

.msg-category{
    /* background-color: gray; */
    color: white;
    font-size: 0.65rem;
    border-radius: 20px;
    border: 1px solid lightgray;
    padding: 5px 10px;
}

.central-section-color{
    background-color: white;
}

.editorial-color{
    background-color: cornflowerblue;
}

.goals-color{
    background-color: blueviolet;
}

.recruiting-color{
    background-color :mediumspringgreen
}

.mobile-color{
    background-color: chocolate;
}

.website-color{
    background-color: deeppink;
}

.sales-color{
    background-color: lime ;
}

.green-dot{
    color: green;
    line-height: 100%;
    display: inline-block;
    height: 25px;
    width: 25px;
    border: 1px solid green;
    border-radius: 50%;
    padding: 5px;
}

.red-dot{
    color: red;
    line-height: 100%;
    display: inline-block;
    height: 25px;
    width: 25px;
    border: 1px solid red;
    border-radius: 50%;
    padding: 5px;
}